%h2= "Your uploaded certificates:"
- @certs.each do |cn,ck|
  - if Time.now < ck[0].not_after
    %li.unexpired
      ="#{ck[0].subject['CN']} --- valid until #{ck[0].not_after}"
      %a.thickbox{:href=>"/certinfo.html/#{cn}?height=350&width=680"}="Detail"
      -#TODO: Do something more elegant here…
      %a{:href=>"/pem/#{cn}?height=800&width=500"}="Copy"
      %a{:href=>"/download.pem/#{cn}"}="Download PEM"
      -#TODO: Prompt for PFX password
      %a{:href=>"/download.pfx/#{cn}"}="Download PFX"
      %a{:onclick=>"confirm('Really delete?') && delete_cert('#{cn}')", :href=>"/process"}="[X]"
  - else
    %li.expired
      ="#{ck[0].subject['CN']} --- valid until #{ck[0].not_after}"
      %a.thickbox{:href=>"/certinfo.html/#{cn}?height=350&width=600"}="Show"
